* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

button {
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
}

.header__nav {
  display: flex;
  gap: 50px;
}

.header__link {
  color: #18191F;
  font-size: 16px;
  transition: 0.2s all;
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #4CAF4F;
  transition: 0.5s all;
}

.header__link:hover::after {
  width: 100%;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__login, .header__signup {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 6px;
}

.header__login {
  color: #4CAF4F;
  background-color: white;
  transition: 0.2s all;
}

.header__login:hover {
  background-color: #4CAF4F;
  color: white;
}

.header__signup {
  background-color: #4CAF4F;
  color: white;
}